MONGO_URI=mongodb+srv://emmanuelakwuba57:cfaxhgu5GSVBkAtu@emirace.zci1zhz.mongodb.net/game9t?retryWrites=true&w=majority&appName=Emirace
PORT=5000
JWT_SECRET=somethingsecretgoeshere

AWS_BUCKET_REGION=eu-west-2

FRONTEND_URL=http://localhost:5173

PAYSTACK_SECRET_KEY=sk_test_8062e0c13cf81d6599fecb6ac561d8ca0edd36ea
NOWPAYMENTS_IPN_SECRET=zhaqpmulaXgl9n1PBQ4nRR6JO223WayN

GMAIL_USERNAME=adebayour66265@gmail.com
GMAIL_PASSWORD=dlrtvouptlrtvvvr

# Environment variables for better organization
ENVIRONMENT=development
NODE_ENV=development
DEBUG=true

# Additional security measures
ALLOWED_ORIGINS=http://localhost:5173,https://api.game9t.com
ALLOWED_METHODS=GET,POST,PUT,DELETE
ALLOWED_HEADERS=Content-Type,Authorization